@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-jost: var(--font-jost-sans);
  --font-caveat: var(--font-caveat-sans);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-paper: var(--paper);

  --color-red: var(--red);
  --color-cyan: var(--cyan);
  --color-darkCyan: var(--darkCyan);
  --color-yellow: var(--yellow);
  --color-brightBlue: var(--brightBlue);
  --color-brown: var(--brown);
  --color-darkGrey: var(--darkGrey);
  --color-silver: var(--silver);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;

  /* --background: rgb(239, 235, 233); */
    --background: oklch(1 0 0);
  --foreground: rgb(62, 62, 62);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);

  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);

  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);

  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);

  --destructive: oklch(0.577 0.245 27.325);
  --border: rgb(175, 175, 175);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);

  --paper: rgb(255, 249, 244);
  --red: rgb(220, 68, 146);
  --brightBlue: rgb(0, 123, 255);

  --yellow: rgb(247, 171, 10);
  --brown: #3e3e3e;
  --darkGrey: rgb(117, 117, 117);
  --silver: rgb(175, 175, 175);
  --cyan: rgb(0, 255, 198);
  --darkCyan: rgb(23, 195, 178);
}

.dark {
  --background: rgb(36, 36, 36);
  --foreground: rgb(255, 249, 244);

  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);

  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);

  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
}
@layer base {
  /* scroll-smooth */
  * {
    @apply border-border box-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground leading-loose font-jost w-5/6 mx-auto;
  }
}

@layer components {
  .commonTitle {
    @apply absolute top-24 uppercase tracking-[20px] text-darkGrey text-3xl text-center font-bold md:text-left;
  }
}

/* Scrollbar width (horizontal & vertical) */
::-webkit-scrollbar {
  height: 7px; /* Controls horizontal scrollbar */
  width: 7px; /* Controls vertical scrollbar */
}

/* Scrollbar Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  @apply bg-cyan/50 rounded-full;
}

/* Scrollbar Track (the background) */
::-webkit-scrollbar-track {
  @apply bg-background/30 rounded-full;
}
